@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --theme-transition: ease-in-out 0.4s;

  --palette-white: #FFFFFF;
  --palette-accent: #007BFF;

  --palette-darkest: #272829;
  --palette-darker: #61677A;
  --palette-dark: #D8D9DA;
  --palette-light: #FFFFFF;

  /* Dark theme (adjusted for darkness or brightness) */
  --palette-darkest-dark: #0F1011;
  --palette-darker-dark: #3C4253;
  --palette-dark-dark: #A9AAAB;
  --palette-light-dark: #ECE7D2;
}

body {
  transition: var(--theme-transition);
  height: 100vh;
  justify-content: center;
  flex-direction: column;
  
  background-color: var(--palette-white);

  .text-color {
    color: var(--palette-darkest) !important;
  }
  .text-accent {
    color: var(--palette-accent) !important;
  }

  .container {
    color: var(--palette-darkest);
    .card * {
      color: inherit;
    }
  }
}

body.dark {
  transition: var(--theme-transition);

  background-color: var(--palette-darker-dark);

  .container {
    color: var(--palette-light-dark);
  }
 
body {
  color: rgb(var(--foreground-rgb));
    background-color: white;
    height: 100vh;
    justify-content: center;
    flex-direction: column;
}
